.view {
    padding-bottom: 32px;
}

.view.view-play .board-row {
    width: 404px;
    margin: 0 auto;
    background-color: #F3F3F3;
}

.view.view-play .field {
    width: 108px;
    height: 108px;
    margin: 12px;
    font-size: 24px;
}
